body {
    background-color:white;
    font-family: 'Source Sans Pro';
    color: rgba(68, 37, 128, 1);
    font-weight: 400;
    font-size: 13px;
    text-align: center;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

.backgroundImage{
    position: relative;
    top: 0;
    left:0;
}

.captionImg {
    position: absolute;
    top: 35%;
    left: 35%;
}

.textonBox {
    position: absolute;
    top: 1%;
    left: 1%;
}

.btn-secondary {
background-color: rgba(164, 198, 79, 1);
color:black;
font-weight: bold;
border: 0px;
}

.btn-light {
    background-color: rgba(68, 37, 128, 1);
    color: white;
    border: 0px;
}

.btn-primary {
    background-color: rgba(0, 194, 203, 1);
    color: black;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    border: 0;
}

.btn-warning {
    background-color: white;
    color: rgba(68, 37, 128, 1);
    border: 0;
}

h2{
    color: rgba(68, 37, 128, 1);
    font-size: 15px;
    font-weight: 700; 
}

h3{
    color: rgba(68, 37, 128, 1);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

h4{
    color: white;
    font-size: 13px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h5{
    color: white;
    font-size: 18px;
    font-weight: 700;
    align-items: center;
    text-transform: uppercase;
}

h6{
    font-weight: 400;
    font-size: 13px;
}
